<md-progress-bar *ngIf="showLoader" color="primary" mode="query"></md-progress-bar>
<md-grid-list cols="4" style="background-color: #cfd8dc">
  <md-grid-tile *ngFor="let recipe of allRecipes">
    <md-card >
      <md-card-header>
        <img md-card-avatar [src]='recipe.imageURL'>
        <md-card-title> {{recipe.name}}</md-card-title>
        <md-card-subtitle>Header subtitle</md-card-subtitle>
      </md-card-header>
      <img md-card-image style="height: 177px;width: 266px" [src]='recipe.imageURL'>
      <hr>
    </md-card>
  </md-grid-tile>
</md-grid-list>