<h1 md-dialog-title>Would you like to add Chef ?</h1>
<md-dialog-content>
  <form autocomplete="off" novalidate [formGroup]="form" >
    <md-input-container dividerColor="accent">
      <input md-input placeholder="Name" formControlName="name" value="Crock Pot Roast">
      <span style="color: red" *ngIf="form.get('name').dirty && form.get('name').hasError('required')">Field required</span>
    </md-input-container>
    <md-input-container dividerColor="accent">
      <input md-input placeholder="imageURL" formControlName="imageURL" value="https://thumbs.dreamstime.com/z/fresh-suop-28535728.jpg">
      <span style="color: red" *ngIf="form.get('imageURL').dirty && form.get('imageURL').hasError('required')">Field required</span>
    </md-input-container>
  </form>
  <button md-raised-button color="accent"(click)="dialogRef.close(form)" [disabled]="!form.valid">SAVE</button>
  <button md-raised-button color="warn" md-dialog-close>CANCEL</button>
</md-dialog-content>