    <md-toolbar color="warn">
    <span [routerLink]="chef">SMART BOOK</span>
    <span class="example-fill-remaining-space"></span>
    <span>Top Chef</span>
    &nbsp;
    &nbsp;
    &nbsp;
    <span>Top Recipes</span>
    &nbsp;
    &nbsp;
    &nbsp;
    <span>Most Viewed</span>
    &nbsp;
    &nbsp;
    &nbsp;
    <span>Recent</span>
</md-toolbar>
    <div class="main-content">
        <router-outlet class="main"></router-outlet>
    </div>
<!--<sb-chef-list ></sb-chef-list>-->
<!--<sb-recipe-list></sb-recipe-list>-->
<!--<sb-new-recipe ></sb-new-recipe>-->